/*

Utilities

These utility classes have one or two CSS properties that are meant to save you from creating several identical classes to do the same thing, like just centering some text.

Markup:
<div class="{{modifier_class}}" >
	Example Text
</div>

.disabled                	- Disable an Element
.smooth                 	- Smoothed font rendering

.f-none                   	- float: none;
.f-left                		- float: left;
.f-center                	- margin-left: auto;  margin-right: auto;
.f-right                 		- float: right;
.clearfix                		- Clear floats to keep the parent container in shape

.med-width                	- max-width  980px
.large-width                	- max-width  1180px
.full-width                	- width & max width 100%  
.max-full-width           	-  max width 100%

.display-block             	- block
.display-inlineBlock       - inline-block   
.display-inline               	- inline
.display-none              	- none

.extra-letter-spacing	- .1rem letterspacing
.uppercase             	- text transform uppercase

.align-left                 	- text-align: left;
.align-center               	- text-align: center;
.align-right                	- text-align: right;

.hide-mobile		- hidden after 64em
.hide-desktop 		- hidden before 64em

Styleguide 4.0

*/

.disabled{
	cursor: default;
	opacity: .5;
	pointer-events: none;
}

.smooth{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
.push-center{
	margin-left: auto;
	margin-right: auto; 
}
.f-none{
	float: none;
}

.f-left{
	float: left;
}
.f-center{
	margin-left: auto;
	margin-right: auto;
}

.f-right{
	float: right;
}

.clearfix{
	clear: both;
	overflow: hidden;
	&:after{
		clear: both;
		content: '';
		display: table;
	}
}
.med-width{
	box-sizing: border-box; 
	max-width: 980px;
	width: 100%;
}
.large-width{
	box-sizing: border-box; 
	max-width: 1180px;
	width: 100%;
}
.full-width {
	box-sizing: border-box; 
	max-width: 100%;
	width: 100%;
}
.max-full-width {
	box-sizing: border-box; 
	max-width: 100%;
}
.italic {
	font-style: italic;
}

.display-block, .show, .shown {
	display: block; 
}

.display-inlineBlock {
	display: inline-block; 
}
.display-inline {
	display: inline; 
}
.display-none, .hidden {
	display: none; 
}
.extra-letter-spacing{
	letter-spacing: .1em;
}
.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.align-right{
	text-align: right;
}

.align-justify{
	text-align: justify;
}

.align-center-justify{
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}

.position-fix{
	position: fixed;
}
.position-abs{
	position: absolute;
}
.position-rel{
	position: relative;
}
.position-normal, .position-static{
	position: static;
}




.hide-mobile, .hide-mobile-flex { display: none; }
@media screen and (min-width: 768px) { 
	.hide-desktop { display: none; }
	.hide-mobile { display: block; }
	.hide-mobile-flex { display: flex; }
}
/*

Type Utilities

These are specific typography related utilities

Markup:
<div class="type {{modifier_class}}">
	The quick brown fox jumps over the lazy dog.
</div>

.huge            			- Max Larger than the default font size
.large            			- Larger than the default font size
.medium or .base            - Exactly the default font size
.small            			- Smaller than the default font size
.tiny            			- Much smaller than the default font size

.lightest            - Changes the type to be 100 weight
.light            - Changes the type to be 300 weight
.normal           - Changes the type to be 400 weight
.semibold         - Changes the type to be 600 weight
.bold             - Changes the type to be 700 weight


.muted  	 		- Add muted color to text

.black 			- Adds black color to text - more than #333
.end 				- Remove margin bottom

.highlight 			- Adds highlighting color to text

.nowrap 			- No-wraps a 
.white-wrap		- white spaces shown


*/



.huge{
	font-size: $font-size--huge;
	line-height: 170%;
}
.large{
	font-size: $font-size--large;
	line-height: 180%;
}
.base, .medium{
	font-size: $font-size--medium;
}
.small{
	font-size: $font-size--small;
	line-height: 180%;
}
.tiny{
	font-size: $font-size--tiny;
	line-height: 180%;
	letter-spacing: 0.5px;
}



.lightest{
	font-weight: 100;
}

.light{
	font-weight: 300;
}

.normal{
	font-weight: 400;
}

.semibold{
	font-weight: 500;
}

.bold{
	font-weight: 800;
}






.muted {
	opacity: .55; 
}

a.muted {
	color: #0d0d0e; 
}

a.muted:hover {
	opacity: 1; 
}

.black {
	color: #0d0d0e; 
}

.end {
	margin-bottom: 0 !important; 
}

.highlight {
	background-color: $color-highlight;
}

.nowrap,
.nowrap td {
	white-space: nowrap; 
}

.white-wrap{
	white-space: pre;
	@media screen and (max-width: 640px) {
		white-space: normal;
	}
}




/* 

.close				- makes a simple X button 
.video-container 		- can be used for responsive videos

*/

.close, %close_Icon {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	min-height: 16px;
	min-width: 16px;
	line-height: 16px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	padding: 2px;
	opacity: .6; 
	&:hover {
		opacity: 1; 
		cursor: pointer;
		background-color: rgba(#333, 0.1);
	}
	&.small {
		font-size: 8px;
	}
	&.big {
		font-size: 18px; 
	}
	&.white {
		color: #fff; 
	}
}





// Responsive video container
.video-container {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	margin-bottom: 16px; 
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important; 
}



.fade{
	opacity:0;
	-webkit-transition:opacity 0.15s linear;
	-o-transition:opacity 0.15s linear;
	transition:opacity 0.15s linear
}
.fade.in{
	opacity:1
}
.fade.out{
	opacity:0
}