
$menuLink-border: 8px solid $secondary;
$menuLink-border-transparent: 8px solid transparent;
.main-menu-container{
	.brand a{
		padding: 0;
		text-decoration: none;
		h5{
			color: $primary;
			margin: 0;
			padding: 0;
		}
		display: block;
		max-width: 125px;
		@media only screen and (max-width: 768px){
			margin: 0 auto;
			padding: 0;
		}
		@media only screen and (max-width: 480px){
			padding: 0;
		}
	}
}




header.navigation{
	background-color: $white;
	a{
		font-size: 0.860rem;
		display: block;
		padding: 35px 40px;
		color: $color-blueishGray;
		text-decoration: none;
		-webkit-transition: all 100ms ease-in;
		-moz-transition: all 100ms ease-in;
		-ms-transition: all 100ms ease-in;
		-o-transition: all 100ms ease-in;
		transition: all 100ms ease-in;
		@media only screen and (max-width: 768px){
			padding: 25px 30px;
		}
		@media only screen and (max-width: 480px){
			padding: 25px 20px;
		}
	}
}
nav.main{
	#menu-trigger a{
		display: none;
		.icon{
			vertical-align: inherit;
		}
		@media only screen and (max-width: 768px){
			border-left: 1px solid $color-silver;
			display: block;
			font-weight: 500;
			font-size: 1rem;
			color: $color-blueishGray;
			text-decoration: none;
			border-bottom: $menuLink-border-transparent;
		}
		&:hover{
			background-color: $color-aluminum;
		}
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		@media only screen and (max-width: 768px){
			display: none;
			position: absolute;
			z-index: 800;
			width: 100%;
			left: 0;
			background-color: $color-aluminum;
			&#primary-menu {
				box-shadow: 0px 18px 20px 12px rgba(51, 51, 51, 0.15);
			}
		}
	}
	li{
		display: inline-block; 
		@media only screen and (max-width: 768px){
			display: block;
		}
		ul{
			display: none;
			position: relative;
			z-index: 801;
			background-color: $color-silver;
		}
		&.menu-item-has-children:not(.on-js){
			margin: 0 auto -1px;
			a{
				&:hover{
					border-bottom: $menuLink-border-transparent;
				}
				&:hover ~ ul{
					display: block;
					position: absolute;
					z-index: 50;
					width: 100%;
					left: 0;
					background-color: $primary;
				}
			}
			&:hover >ul{
				display: block;
				position: absolute;
				z-index: 50;
				width: 100%;
				left: 0;
				background-color: $primary;
			}
			li{
				&.menu-item-has-children:not(.on-js){
					ul{
						background-color: darken($primary, 5%);
					}
					a{
						&:hover{
							border-bottom: $menuLink-border-transparent;
							background-color: darken($primary, 10%);
						}
					}
				}
				a{
					color: #fff;
					border-bottom: $menuLink-border-transparent;
					&:hover{
						color: #fff;
						border-bottom: 5px solid #fff;
					}
					&.selected{

					}
				}
			}
		}
		a{
			font-weight: 500;
			border-bottom: $menuLink-border-transparent;
			&.selected{
				border-bottom: $menuLink-border;
			}
			&:hover{
				color: $color-black;
				border-bottom: $menuLink-border;
			}
			@media only screen and (max-width: 768px){
				padding: 25px 0px;
				font-size: 1.1rem;
				&.selected{
					border-bottom: $menuLink-border-transparent;
					background-color: $color-nearblack;
				}
				&:hover{
					background-color: $color-lightgray;
					border-bottom: $menuLink-border-transparent;
				}
			}
		}
	}
}
.search-menu{
	text-align: left;
	@media only screen and (max-width: 992px){
		display: block;
		text-align: center;
	}
	ul.search{
		list-style: none;
		display: inline-block;
		@media only screen and (max-width: 992px){
			display: block;
		}
		margin: 0;
		padding: 0;
	}
	li{
		display: block;
		text-align: center;
		border-left: 1px solid $color-silver;
	}
	a{
		text-decoration: none;
		border-bottom: $menuLink-border-transparent;
		&:hover{
			color: $color-black;
		}
		@media only screen and (max-width: 992px){
			padding: 35px 0px;
			display: block;
			&:hover{
				color: $color-blueishGray;
				background-color: $color-aluminum;
			}
		}
	}
}

section.cover{
	position: relative;
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: #101010;
	.background{
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: .3;
		max-width: 100%;
		background-size: cover;
	}
	.introduction{
		position: relative;
		z-index: 4;
		color: white;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		h1,h2,h3,h4{
			margin: 0 auto;
		}
		h1,h2,h3,h4,p{
			text-shadow: 1px 0px 10px #000000;
		}
	}
}