.cover{
	position: relative;
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	.background-img{
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		background-size: cover;
	}
	.blog-info{
		position: relative;
		z-index: 500;
		display: table-cell;
		vertical-align: middle;
		color: $color-silver;
		.intro-text{
			width: 380px;
			padding-left: 8rem;
		}
		p{
			color: #c5d0d8;
			font-family: $system-font;
			&:before{
				content: "\e628";
				font-family: 'themify';
				line-height: 1;
				position: absolute;
				bottom: -12px;
				left: 140px;
				font-size: 2rem;
			}
			&:after{
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;
				height: 2px;
				width: 16px;
				background-color: $color-nearblack;
			}
		}
		h4{
			font-weight: 100;
			width: 326px;
			&:after{
				content: "";
				position: absolute;
				bottom: -133px;
				left: 0;
				height: 2px;
				width: 16px;
				background-color: $color-gray;
			}
			&:before{
				content: "";
				position: absolute;
				top: -50px;
				left: 0;
				height: 2px;
				width: 44px;
				background-color: $color-nearblack;
			}
		}
	}
	.featured{
		position: relative;
		z-index: 500;
		display: table-cell;
		vertical-align: bottom;
		top: 20%;
	}
}