.featured, .post{
	color: $white;
	position: relative;
	bottom: 354px;
	z-index: 800;
	.excerpt{
		padding: 0 3rem 3rem;
	}
	.post-image{
		color: $color-blueishGray;
		.post-text{
			padding: 0rem 4rem 1rem;
		}
		h5{
			width: 420px;
		}
		a{
			text-decoration: none;
			color: $color-lightgray;
			.icon{
				font-size: 1.4rem;
				vertical-align: sub;
			}
			&:hover{
				color: $color-gray;
			}
		}
	}
}
p{
	letter-spacing: 0px;
}