header.blog-info{
	padding: 30px 30px 0px;
	position: absolute;
	width: 100%;
	z-index: 50;
	top: 0px;
	.title {
		float: left;
		width: 100px;
		margin-top: -15px;
		a{
			text-decoration: none;
			display: block;
			color: $primary;
			padding: 6px;
			&:hover{
				color: #fff;
			}
		}
		h2{
			font-size: 1.6rem;
			font-weight: 600;
			margin: 0;
			padding: 0;
		}
	}
}
nav.main{
	float: right;
	div{
		float: left;
		margin-top: 2px;
	}
	ul{
		float: left;
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			float: left;
			position: relative;
			display: inline-block;
			margin: 0 10px;
		}
		a{
			font-size: .88rem;
			text-decoration: none;
			display: inline-block;
			padding: 3px 12px 15px;
			cursor: pointer;
			text-transform: uppercase;
			color: $color-gray;
			font-weight: 500;
		}
		&.primary_nav {
			a{
				padding: 2px 14px;
				border: 1px solid $color-gray;
				border-radius: 34px;
				font-size: .72rem;
				&:hover{
					border: 1px solid $white;
					color: $white;
				}
				span.icon{
					font-size: 10px;
					margin-left: 6px;
					vertical-align: 1px;
					display: inline-block;
				}
			}
			li:last-child{
				a:after{
					content: '|';
					font-family: arial;
					color: #bdbdbd;
					font-size: 16px;
					vertical-align: 0;
					position: relative;
					right: -40px;
				}
			}
		}
	}
	.secondary-nav{
		span.icon{
			font-size: 14px;
			vertical-align: -2px;
		}
		.showsearch{
			margin-top: 2px;
		}
		li.option:first-child:before {
			font-family: arial;
			color: $color-gray;
			font-size: 16px;
			content: '|';
			position: relative;
			right: -63px;
			top: 2px;
			vertical-align: 0;
		}
	}
}

header.single-page-header{
	padding: 30px 10px 0px;
	position: relative;
	nav.main ul.primary_nav {
		a{
			color: $color-midgray;
			border: 1px solid $color-gray;
			&:hover{
				border: 1px solid $black;
				color: $black;
			}
		}
	}
	nav.main ul.secondary-nav {
		span.icon{
			color: $color-midgray;
			&:hover{
				color: $black;
			}
		}
	}
}