#header{
	padding-top: 4.2rem;
	padding-bottom: 10px;
	top: 0;
	z-index: 600;
	width: 100%;
}
div.logo{
	right: 0px;
	top: 80px;
	a{
		transform: rotate(90deg);
		transform-origin: left top 0;
		text-decoration: none;
		color: $white;
		float: right;
	}
}