main#main{
	background-color: #f0fafc;
}
.postlist{
	max-width: 1380px;
	margin: 0 auto;
	padding: 3.5rem 0;
	article{
		.progressiveMedia-canvas, .progressiveMedia-image.post-image{
			border-radius: 6px 6px 0px 0px
		}
		.post-link{
			background-color: $white;
			margin: 20px;
			text-decoration: none;
		}
		.post-title{
			margin: 0;
			padding: 0;
			font-size: 1.35rem;
			line-height: 1.8rem;
		}
		.excerpt-text{
			font-size: 0.80211rem;
			line-height: 180%;
			p{
				font-size: 0.80211rem;
				line-height: 180%;
				margin: 0;
				padding: 0;
			}
		}
		.post-image{
			background-size: cover;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			max-width: 100%;
		}
	}
}