// ABOUT US
.aboutUs{
	color: $color-blueishlightGray;
	margin-bottom: 4rem;
	h4.title{
		top: -30%;
	}
	p{
		padding-bottom: 1.4rem;
		margin-bottom: 0;
	}
}
.fullWidth-image{
	position: relative;
	width: 100vw;
	margin: 65px auto;
}
section.final-section{
	.slider{
		color: $white;
		margin: 4rem auto;
		.slide-details{
			position: relative;
			bottom: 470px;
			margin-bottom: -542px;
			z-index: 800;
			p{
				padding: 2rem;
				margin-bottom: 0;
				padding-bottom: 1rem;
			}
		}
		.slide-title{
			padding: 2rem;
		}
		.avatar{
			overflow: hidden;
			width: 43.2%;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			background-size: cover;
		}
	}
	.action{
		color: $white;
		h5{
			margin-top: 1rem;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.action-form{
			background-color: $black2;
		}
		.signup{
			padding: 2rem;
			form{
				margin-top: 0;
				padding-top: 0;
			}
			.form-item{
				margin: 4px;
			}
		}
	}
	.footer-post{
		.full-image{
			margin: 0 auto;
			width: 100%;
		}
		.post{
			bottom: 250px;
		}
	}
}
