
.widget{
	padding: 35px 0 0;
	hr {
		width: 20%;
		height: 2px;
		margin: 10px auto 10px 0;
		border: 0;
		background: #d6d6d6;
	}
	p {
		font-size: 1.05rem;
		line-height: 33px;
		color: #7a7e81;
	}
	&>:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	&:after {
		display: block;
		clear: both;
		width: 20%;
		height: 1px;
		margin-top: 35px;
		content: '';
		background: #ececec;
	}
	&.blog_info{
		h3{
			margin-top: 1rem;
		}
	}
	ul{
		@extend ul.unstyled;
	}
	.widget-title{
		font-weight: 600;
		line-height: normal;
		margin-bottom: 25px;
		text-transform: uppercase;
		color: $black;
	}
	a{
		font-size: 0.85rem;
		font-family: 'OpenSans';
		text-decoration: none;
		font-weight: 500;
		display: inline-block;
		padding: 5px 0;
		color: $black;
		outline: 0;
		&:hover{
			color: #8b8b8b;
		}
	}
	li{
		margin: 0;
		padding: 0;
	}
	&.navigation {
		a{
			font-size: 0.85rem;
			font-weight: 600;
			line-height: normal;
			padding: 6px 0 6px;
			text-transform: uppercase;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li{
			.icon{
				font-size: 0.85rem;
				margin-left: 8px;
				vertical-align: top;
				&:hover{
					color: #4e4e4e;
				}
			}
		}
		.sub-menu{
			display: none;
			margin: 6px 0px 18px;
			li a {
				font-size: 0.85rem;
				padding: 6px 0 6px 18px;
				color: #8b8b8b;
				&:hover{
					color: $black;
				}
			}
		}
	}
	&.socialshare{
		.options {
			overflow: hidden;
			padding-bottom: 0;
		}
		a{
			color: #fff;
			outline: 0;
			&:hover{
				color: #fff;
			}
		}
		a:nth-child(odd) {
			float: left;
		}
		a:nth-child(even) {
			float: right;
		}
	}
	&.twitter{
		.tweet{
			clear: both;
			overflow: hidden;
			margin-bottom: 35px;
		}
		.text{
			margin-top: 0;
			padding: 0;
			margin-bottom: 25px;
			color: #888e92;
		}
		.author{
			font: 300 14px Montserrat,Arial,Sans-Serif;
			display: inline-block;
			float: left;
		}
		.icon{
			font-size: 16px;
			margin-right: 5px;
			color: #55acee;
		}
		.date{
			font-size: 12px;
			font-weight: 500;
			line-height: normal;
			display: inline-block;
			float: right;
			margin-top: 2px;
			text-transform: uppercase;
			color: #cfcfcf;
		}
	}
	&.social{
		ul{
			overflow: hidden;
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				float: left;
				margin-right: 9px;
				margin-bottom: 10px;
			}
		}
		&:after {
			margin-top: 25px
		}
	}
	&.latestposts {
		overflow: hidden;

		.post {
			overflow: hidden;
			width: 100%;
			margin-bottom: 40px;

			&:last-child {
				margin: 0;
			}
		}

		.info {
			margin-top: -4px;
		}

		.category {
			display: inline-block;
			padding: 6px 10px;
			border-radius: 3px;
			background: #3f9bd5;
			color: #ffffff;
			text-transform: uppercase;
			white-space: nowrap;
			font-size: .65rem;
			font-family: $heading;
			line-height: normal;

			&:hover {
				color: #e1e1e1;
			}
		}

		.thumbnail {
			position: relative;
			display: block;
			float: left;
			overflow: hidden;
			max-width: 65px;
			width: 25%;
			height: 65px;
			border-radius: 3px;

			transform: translateZ(0);

			span {
				display: block;
				width: 100%;
				height: 100%;
				background-size: cover;

				transition: opacity 0.25s ease-in-out;
			}

			.ti-link {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 600;
				color: #000;
				font-size: 24px;
				opacity: 0;

				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);

				transition: opacity 0.25s ease-in-out;
			}

			&:hover {
				span {
					opacity: 0.4;
				}

				.ti-link {
					opacity: 1;
				}
			}
		}

		.excerpt {
			display: none;
		}

		.info {
			float: left;
			margin-left: 7.5%;
			max-width: 67.5%;
		}

		h4 {
			margin: 0;
			padding: 0;
			font-size: 1.05rem;
			color: #62646c;
			letter-spacing: -1px;
			letter-spacing: -0.5px;
			font-weight: 400;
			line-height: 25px;

			a {
				font-size: inherit;
				color: #62646c;
			}

			a:hover {
				color: #62646c;
			}
		}

		.meta {
			display: none;
		}
	}
	&.copyright{
		p{
			margin: 0;
			padding: 0;
		}
		.mhc-tag{
			display: block;
			margin-bottom: 10px;
		}
		.main{
			font-size: 13px;
			line-height: normal;
			margin: 0 0 10px;
			letter-spacing: -.5px;
			color: #505357
		}
		a.alt{
			font-size: 12px;
			line-height: normal;
			margin: 0;
			letter-spacing: -.5px;
			color: #a9b1b9;
		}
	}
}



.widget .widget-title, .widget>:first-child {
	margin-top: 0;
	padding-top: 0;
}