// A beautiful selection of our branded colors
//
// Styleguide

// primary colors
$primary:       rgba(68, 78, 127, 1) !default;
$primary-light:  lighten($primary, 8%) !default;
$primary-dark:  darken($primary, 8%) !default;

$secondary:       #727e98 !default;
$secondary-light:  lighten($secondary, 8%) !default;
$secondary-dark:  darken($secondary, 8%) !default;


$link:          #4084D1 !default;
$link--visited: #9140D4 !default;
$link--hover:   darken($link, 5%) !default;
$link--active:  $link--hover !default;


// light shades
$color-lightshade1:         #cdcdce !default;
$color-lightshade2:         #dededf !default;
$color-lightshade3:         #efeff0 !default;
$color-lightshade4:         #f9f9f9 !default;
$color-lightshade5:         #fbfbfb !default;

// extras
$color-highlight: #e8f1fd !default;
$white: #fff;


// Grayscale
$color-black: #333 !default;
$black: $color-black;
$color-text: $color-black;
$blacklight: #323339 !default;

$color-nearblack: #373737 !default;
$color-darkgray: #505050 !default;
$color-midgray: #676b72 !default;
$color-gray: #bdbdbd !default;

//for text on white BG
$color-blueishGray: #83969f !default;
$color-blueishlightGray: #a8b2ba !default;

$color-lightgray: #d4d4d4 !default;
$color-silver: #e0e1e1 !default;
$color-aluminum: #f8f8f8 !default;


// States
$color-error: #e00e0e !default;
$color-success: #4dbd6f !default;
$color-warning: #f7ba45 !default;
$color-focus: #1c86f2 !default;




/* SOCIAL */

$twitter_color: #55acee;
$facebook_color: #3b5998;
$google_color: #dd4b39;
$dribbble_color: #ea4c89;
$instagram_color: #3f729b;
$github_color: #333;
$github_color_light: #999999;
$rss_color: #ee802f;
$youtube_color: #c4302b;
$pinterest_color: #c8232c;
$linkedin_color: #0e76a8;
$reddit_color: #5f99cf;
$skype_color: #00aff0;
$tumblr_color: #35465c;
$vine_color: #00b488;
$vk_color: #45668e;
$flickr_color: #ff0084;
$stackoverflow_color: #fe7a15;
$twitch_color: #6441a5;
$vimeo_color: #1ab7ea;
$weibo_color: #d72928;
$email_color: #76b852;
$soundcloud_color: #ff8800;
$slideshare_color: #0077b5;





// some Classes for colors
.color-primary{color: $primary;}
.color-secondary{color: $secondary;}

.bg-primary{background-color: $primary;}
.bg-secondary{background-color: $secondary;}

.color-text{color: $color-text;}
.color-white{color: $white;}